@use "../util/" as *;

.img {
  border-radius: 50%;
  width: 2.188em;
  height: 2.188em;
}

.img--white {
  border: 0.125em solid $white-card;
}

.img--dark {
  border: 0.125em solid $violet-card;
}

.img--light {
  border: 0.125em solid hsl(0, 0%, 81%, 0.7);
}
