@use "../util/" as *;

* {
  transition: all ease 0.5s;
}

body {
  background-color: $bg;
}

.cards {
  margin: 15% 5% 5%;
  @include toGrid();

  @include breakpoint(medium) {
    margin: 8%;
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(large) {
    margin: 6% 10% 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
