@use "../util/" as *;

body {
  color: $font;
  font-family: "Barlow Semi Condensed", serif;
  font-size: clamp(0.75rem, 3.467vw, 1rem);
  font-weight: 500;

  .attribution,
  .card:nth-child(3),
  .card:last-child {
    color: $dark-gray-card;
  }

  .user__verified {
    margin-top: -0.313em;
    opacity: 50%;
  }

  .quote {
    font-size: clamp(1.244rem, 5.733vw, 1.55rem);
    font-weight: 600;
    line-height: 1.15;
  }

  .quote::before,
  .quote::after {
    content: " ";
  }

  .review {
    opacity: 70%;
  }
}
